
.glassmorphism-container {
    background: rgba(4, 79, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    border-color: brown;
}

.glassmorphism {
    background: rgba(0, 76, 252, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    
}

.glassmorphism:hover {
    transform: scale(1.05);
}

.loading-card {
    margin-bottom: 200px;
}
.card{
    border-color: brown;
}

